<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Toggle Button Form</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container mt-5">
            <h2>Light Control Dashboard</h2>
            
    

            <!-- Form for controlling lights-->
            <!-- logic handled by view-->
            <form method="post" action="/">
                {% csrf_token %}

                <!-- Light On/Off Control -->
                <!-- set Default value based on rendered variable -->
                <div class="custom-control custom-switch">
                    <input type="checkbox"
                           class="custom-control-input"
                           id="toggleButtonState"
                           name="state"
                           {% if currentState == "on" %} checked {% endif %}
                           value="on">

                    <label class="custom-control-label" for="toggleButtonState">Light Power</label>
                </div>
                
                <!-- Light Auto/Manual Control -->
                <!-- set Default value based on rendered variable -->
                <div class="custom-control custom-switch">
                    <input type="checkbox"
                           class="custom-control-input"
                           id="toggleButtonMode"
                           name="mode"
                           {% if currentMode == "auto" %} checked {% endif %}
                           value="auto">
                    <label class="custom-control-label" for="toggleButtonMode">Auto Mode Enabled</label>
                </div>
                
                
                {% comment %} Submit  {% endcomment %}
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>



        <!-- Include Bootstrap JS and Popper.js -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
